#container {
    display: flex;
    justify-content: space-around;
}

td {
    border: 2.1px solid black;
    width: 100px;
    height: 100px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}